/* Components *****************************************************************/

.ui.post.header {
    position: relative;
    padding: 3rem;
    margin: calc(-2rem - 1px) -3rem calc(-2rem - 1px);
    background-color: #f8f8f9;
    border: 1px solid rgba(34,36,38,.15);
}

.ui.ribbon+.ui.post.header {
    margin-top: -1rem;
}

article img {
    display: block;
    margin: 3rem auto;
    max-width: calc(100% - 2px);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
}

article strong+img {
    margin-top: .5em;
}

.ui.quote.message {
    padding: 3rem 3rem 4rem;
    margin: 0;
    background: #f8f8f9;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0;
    box-shadow: none;
    text-align: center;
}

.ui.quote.message:before {
    content: "\f10e"; /* Quote Right */
    font-family: Icons;
    position: absolute;
    bottom: .5em;
    right: .5em;
    font-size: 1.5em;
    color: rgba(0, 0, 0, .2);
}

.ui.divider+.ui.quote.message,
.ui.divider+* > .ui.quote.message:first-child {
    margin-top: calc(-2rem - 2px);
}

.ui.quote.message+.ui.divider {
    margin-top: -1px;
}

.ui.very.padded .ui.quote.message {
    border-left: 0;
    border-right: 0;
    margin-left: -3rem;
    margin-right: -3rem;
}

/* Layout *********************************************************************/

#wrapper {
    padding-bottom: 6em;
}

#logo {
    margin-bottom: 4rem;
}

#logo .title {
    font-size: 0;
}

#logo .tagline {
    display: none;
}

#logo h1 {
    margin: 3rem auto 2rem;
}

#logo h1 a {
    display: block;
    width: 241px;
    height: 58px;
    background: url(logo.png) no-repeat center;
}

#logo p.description {
    font-size: .8em;
}

#content {
    font-size: 1.1em;
    margin-top: -3em;
}

#footer {
    padding: 3em 0 9em;
    background-image: url(logosm.png);
    background-repeat: no-repeat;
    background-position: center 6.5em;
}

.vision { clear: both; }

.vision .ui.icon.header .ui.circular.label {
    font-size: 2em;
    margin-bottom: 1em;
}

.vision .gallery {
    display: block;
    margin-top: 1.5rem !important;
}
.vision .gallery a {
    display: inline-block;
    clear: left;
    background: no-repeat left center;
    margin-right: 50px;
    margin-bottom: 20px; 
    font-size: 0;
}
.vision .gallery a:hover { background-position: right center; }

.vision.modern .gallery a.python { background-image: url(python-logo.png); width: 123px; height: 35px; }
.vision.modern .gallery a.django { background-image: url(django-logo.png); width: 100px; height: 35px; }
.vision.modern .gallery a.html5 { background-image: url(html5-logo.png); width: 43px; height: 61px; }
.vision.modern .gallery a.semanticui { background-image: url(semanticui-logo.png); width: 61px; height: 61px; margin-right: 0; }

.vision.elegant .ui.icon.header:after {
    visibility: visible;
    content: "A user-oriented design";
    cursor: pointer;
    clear: left;
    display: block;
    font-size: 0;
    width: 250px;
    height: 100px;
    margin: 1.5rem auto;
    background: url(user-oriented.png) no-repeat left center;
}
.vision.elegant .ui.icon.header:hover:after { background-position: right center; }

.vision.accessible .ui.icon.header:after {
    visibility: visible;
    content: "A responsive software";
    cursor: pointer;
    clear: left;
    display: block;
    font-size: 0;
    width: 167px;
    height: 100px;
    margin: 1.5rem auto;
    background: url(responsive.png) no-repeat left center;
}
.vision.accessible .ui.icon.header:hover:after { background-position: right center; }

.vision.open .gallery a.github {
    width: 185px;
    height: 50px;
    background-image: url(github-logo.png);
}

/* Responsive *****************************************************************/

@media(max-width:767px) {
    #wrapper {
        margin: 0px !important;
    }

    #logo h1 a {
        margin: 0 auto;
    }

    #logo p.description {
        text-align: center;
    }
}

@media(min-width:768px) {

    #wrapper {
        margin-top: 3em;
    }

    #logo h1 {
        margin-top: 0;
    }

    #top-menu {
        position: relative;
        float: right;
        width: auto;
        margin-top: -3em;
        margin-right: -3em;
        top: -1px;
        right: -1px;
        border-top-right-radius: .28571429rem !important;
        border-bottom-left-radius: .28571429rem !important;
    }
}
